.skillBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 20px;
  min-width: 150px;
  min-height: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
  border-radius: 12px;
}

.img{
  display: block;
  width: 75px;
  max-height: 75px;
}
.subtitle{
  margin-top: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}