.distantBlock {
    height: 50vh;
}

.container {
    justify-content: center;
    align-items: center;
    border: none;
}

.wrapper {
    border: 1px solid;
    text-align: center;
}

.title {
    margin-top: 0;
    background-color: honeydew;
}

.btn {
    padding: 5px 10px;
    background-color: honeydew;
}