.btn{
  display: none;
  background-color: transparent;
  border: none;
}
.line{
  display: block;
  width: 33px;
  height: 4px;
  background-color: #000;
  transition: all .4s;
  & + .line{
    margin-top: 4px;
  }
  &.active:first-child{
    background-color: #828282;
    transform: translateY(8px) rotate(135deg);
  }
  &.active:nth-child(2){
    opacity: 0;
  }
  &.active:last-child{
    background-color: #828282;
    transform: translateY(-8px) rotate(-135deg);
  }
}

@media (max-width: 576px) {
  .btn{
    display: block;
    position: absolute;
    right: 20px;
    top: 68px;
    z-index: 15;
  }


}