.section{
  padding: 60px 0;
  background: radial-gradient(45% 25% at 50% 65%, rgba(26, 21, 21, 0) 10%, rgba(1, 1, 1, 0.05) 100%), #FFFFFF;
  mix-blend-mode: normal;
}
.title{
  margin-bottom: 80px;
 }
.masonry{
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonryCols{
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}


@media(max-width: 768px){
  .container{
    padding: 0 30px;
  }
}
@media(max-width: 480px){
  .masonryCols{
    padding-left: 0;

  }
  .container{
    padding: 0 15px;
  }
  .masonry{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .section {
    padding: 60px 0 0 0;
  }
}