.section{
  padding: 60px 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.05) 100%), #FFFFFF;
  mix-blend-mode: normal;
}
.title{
  margin-bottom: 50px;
 }
.masonry{
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonryCols{
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}