.skillsBlock {
    height: 100vh;
    background-color: darkseagreen;
}

.title {
    background-color: ivory;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}