.mainBlock{
 height: 100vh;
    background-color: lightblue;
}

.text{
    width: 300px;
    background-color: #fff;
}
.photo{
    background-color: antiquewhite;
    width: 300px;
    height: 400px;
}