.link {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 70%;
  border-radius: 12px;
  background-color: #fff;
  z-index: 20;
  width: 44px;
  height: 44px;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
  animation-name: fadeInTopRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover{
    transform: scale(1.01) translateX(2px) translateY(-2px);
    box-shadow: 0 1px 2px rgb(97 97 97 / 58%), 2px 2px 5px rgb(97 97 97 / 58%);
  }
  &:focus {
    outline: transparent;
  }

  &:active {
    transform: scale(1) translateX(0) translateY(0);
    box-shadow: 1px 1px 1px rgba(97, 97, 97, 0.7), 1px 2px 2px rgba(97, 97, 97, 0.7);
  }
}
.img{
  width: 38px;
  height: 38px;
  border-radius: 14px;

}

@keyframes fadeInTopRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInTopRight {
  -webkit-animation-name: fadeInTopRight;
  animation-name: fadeInTopRight;
}