.project{
    width: 350px;
    min-height: 350px;
    border: 1px solid;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button{
    padding: 5px 10px;
}

.info{
    padding: 5px 15px 10px 15px;
    background-color: cornsilk;
}
.title{
    max-width: 200px;
    margin: 0;
    margin-bottom: 15px;
    background-color: gainsboro;
}

.descr {
    margin: 0;
    background-color: gainsboro;
    padding-bottom: 30px;
}
