.footerBlock{
    height: 100vh;
    padding: 50px 0;
    background-color: mistyrose;
}

.container{
    justify-content: space-between;
}

.title{
    margin: 0;
    background-color: seashell;
}

.social{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 700px;
    border: 1px solid;
}

.socialItem{
    width: 70px;
    height: 70px;
}

.socialLink{
    display: block;
    height: 100%;
    background-color: darkslategray;
    border-radius: 6px;
}

.socialImg{
    width: 70px;
    height: 70px;
}

.copyright{
    background-color: seashell;
}
