.projectsBlock{
    height: 100vh;
    background-color: lavender;
    border: 1px solid;
}
.title{
    background-color: lightblue;
}

.projects{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}